<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Bootstrap Gallery with Modal and Carousel</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="/static/css/bootstrap1.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="/static/css/styles1.css" rel="stylesheet">
	</head>
  <style type="text/css">
    .scron {
        height: 250px;
        overflow: auto;
    }
  </style>
	<body>
<div class="container">
  <div class="row">
    <h1>Galeria</h1>
    <div class="row scron" id='fotos'>
      {% for f in fotos %}    
        <div class="col-lg-4 col-sm-4 col-xs-6"><a title="{{f.nome}}" href="#"><center><img class="thumbnail img-responsive" src="{{f.get_imagem}}"></center></a></div>
      {% endfor %}
    </div>
    <hr>
    <!-- caixinha de adicionar imagens -->
      <h3>ADD NOVAS IMAGENS</h2>
      <form class="form-horizontal" action="/imagem/" enctype="multipart/form-data" method="POST">
      {% csrf_token %} 
        <fieldset>
          <legend></legend>
           {% if form.non_field_errors %}
              <div class="alert alert-error">
                  <button type="button" class="close" data-dismiss="alert">×</button>
                  <ul>
                  {% for error in form.non_field_errors %}
                      <li>{{ error }}</li>
                  {% endfor %}
                  </ul>
              </div>
          {% endif %}

          {% for field in form %}
          <div class="control-group">
              {% if field.errors  %}
                  <div class="alert alert-error">
                      {{field.errors}}
                  </div>
              {% endif %}
              <label class="control-label" for="{{field.auto_id}}">{{ field.label }}</label>
              <div class="controls">
                  {{ field }}
                  {% if field.html_name = 'foto' and foto_destaque %}
                      <img src="{{foto_destaque}}" class="dashboard-avatar">
                  {% endif %}
                  <p class="help-block">{{ field.help_text }}</p>
              </div>
          </div>
          {% endfor %}

          <div class="form-actions">
              <button type="submit" class="btn btn-primary">Save changes</button>
              <button type="reset" class="btn">Cancel</button>
          </div>
        </fieldset>
      </form>

    <hr>
  </div>
</div>
<div class="modal" id="myModal" role="dialog">
  <div class="modal-dialog">
  <div class="modal-content">
	<div class="modal-header">
		<button class="close" type="button" data-dismiss="modal">×</button>
		<h3 class="modal-title"></h3>
	</div>
	<div class="modal-body">
		<div id="modalCarousel" class="carousel">
 
          <div class="carousel-inner">
           
          </div>
          
          <a class="carousel-control left" href="#modaCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
          <a class="carousel-control right" href="#modalCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
          
        </div>
	</div>
	<div class="modal-footer">
	</div>
   </div>
  </div>
</div>
<!-- {% include 'collapse.html' %} -->
	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="/static/js/bootstrap1.min.js"></script>
		<script src="/static/js/scripts.js"></script>
    <script type="text/javascript">
      $('#add-picture-form').submit(function() { 
            //var filename = $("#upload-photo").val();
            var photo = document.getElementById("fileInput"); 
            var file  = photo.files[0];

        $.ajax({ 
            type: "POST",
            url: "/upload_image/",
            enctype: 'multipart/form-data',
            data: {'file': file.getAsBinary(), 'fname' : file.fileName },
            success: function(){
               alert( "Data Uploaded: ");
            }
        });

        return false;   
      }); 
    </script>
	</body>
</html>
