<style type="text/css">
    h2{
    	margin: 11px 0;

    }
/*    body {
  			min-height: 2000px;
  			padding-top: 190px;
		}*/

</style>

<div class="mainmenu-wrapper">
    <div class="container">
    	<div class="menuextras">
			<div class="extras">
				<!-- <ul>
					<li class="shopping-cart-items"><i class="glyphicon glyphicon-shopping-cart icon-white"></i> <a href="/view_carrinho/"><b>3 items</b></a></li>
					<li>
						<div class="dropdown choose-country">
							<a class="#" data-toggle="dropdown" href="#"><img src="/static/img/flags/gb.png" alt="Great Britain"> UK</a>
							<ul class="dropdown-menu" role="menu">
								<li role="menuitem"><a href="#"><img src="/static/img/flags/us.png" alt="United States"> US</a></li>
								<li role="menuitem"><a href="#"><img src="/static/img/flags/de.png" alt="Germany"> DE</a></li>
								<li role="menuitem"><a href="#"><img src="/static/img/flags/es.png" alt="Spain"> ES</a></li>
							</ul>
						</div>
					</li>
	        		<li><a href="page-login.html">Login</a></li>
	        	</ul> -->
			</div>
        </div>
        <nav id="mainmenu" class="mainmenu">
			<ul>
				<li class="logo-wrapper"><a href="/teste"><img style="height:150px; width:330px; align:center " src="/static/img/logo_info1.png" alt="Pagina Inicial"></a></li>
				<li id="home" class="active">
					<a href="/teste">Home</a>
				</li>
				<li id="contato">
					<a href="/contato/">Contato</a>
				</li>
				<li id="sobre">
					<a href="/sobre/">Sobre</a>
				</li>
			</ul>
		</nav>
	</div>
</div>