<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>mPurpose - Multipurpose Feature Rich Bootstrap Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/static/css/colorbox.css" />
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/icomoon-social.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" href="/static/css/leaflet.css" />
		<!--[if lte IE 8]>
		    <link rel="stylesheet" href="/static/css/leaflet.ie.css" />
		<![endif]-->
		<link rel="stylesheet" href="/static/css/main.css">

        <script src="/static/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        

        <!-- Navigation & Logo-->
        {% include 'menu.html' %}


        <!-- Page Title -->
		<div class="section section-breadcrumbs">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h1>Contato</h1>
					</div>
				</div>
			</div>
		</div>
        
        <div class="section">
	    	<div class="container">
	        	<div class="row">
	        		<div class="col-sm-6">
						<h3 id="tabs">Locais</h3>
						<ul class="nav nav-tabs">
							<li class="active" ><a href="#A" id="a" data-toggle="tab">Endereço Douglas</a></li>
							<li><a href="#B" data-toggle="tab" id="b">Endereço Anderson</a></li>
							<!-- <li><a href="#C" data-toggle="tab">Section 3</a></li> -->
						</ul>
						<div class="tabbable">
							<div class="tab-content">
							  	<div class="tab-pane active" id="A">
							   		<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.019004146507!2d-42.7455082!3d-5.100627799999982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e307d3ed8c1cf%3A0x6538571f1851351!2sR.+%C3%81lvaro+Oliveira+Lima%2C+583+-+Parque+Ideal%2C+Teresina+-+PI%2C+64078-760!5e0!3m2!1spt-BR!2sbr!4v1421819558203" width="500" height="400" frameborder="0" style="border:0"></iframe> -->
							  	</div>
							  	<div class="tab-pane" id="B">
						   			<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.019004146507!2d-42.7455082!3d-5.100627799999982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e307d3ed8c1cf%3A0x6538571f1851351!2sR.+%C3%81lvaro+Oliveira+Lima%2C+583+-+Parque+Ideal%2C+Teresina+-+PI%2C+64078-760!5e0!3m2!1spt-BR!2sbr!4v1421819558203" width="500" height="400" frameborder="0" style="border:0"></iframe> -->
								</div>
							</div>
						</div> 
	        			<!-- Map -->
	        		</div>
	        		<div class="col-sm-6">
	        			<!-- Contact Form -->
	        			<center><h3>Envie-nos uma mensagem</h3></center>
	        			<div class="contact-form-wrapper">
		        			<form class="form-horizontal" role="form">
		        				 <div class="form-group">
		        				 	<label for="Name" class="col-sm-3 control-label"><b>Seu Nome</b></label>
		        				 	<div class="col-sm-9">
										<input class="form-control" id="nome" type="text" placeholder="">
									</div>
								</div>
								<div class="form-group">
		        				 	<label for="Telefone" class="col-sm-3 control-label"><b>Seu Telefone</b></label>
		        				 	<div class="col-sm-9">
										<input class="form-control" id="telefone" type="text" placeholder="">
									</div>
								</div>
								<div class="form-group">
									<label for="contact-email" class="col-sm-3 control-label"><b>Seu Email</b></label>
									<div class="col-sm-9">
										<input class="form-control" id="email" type="text" placeholder="">
									</div>
								</div>
								<div class="form-group">
									<label for="contact-message" class="col-sm-3 control-label"><b>Selecione um Asunto</b></label>
									<div class="col-sm-9">
										<select class="form-control" id="assunto">
											<option>Please select topic...</option>
											<option>Limpeza</option>
											<option>Avaliação</option>
											<option>Manutenção </option>
											<option>Outros</option>
										</select>
									</div>
								</div>
								<div class="form-group">
									<label for="contact-message" class="col-sm-3 control-label"><b>Mensagem</b></label>
									<div class="col-sm-9">
										<textarea class="form-control" rows="5" id="mensagem"></textarea>
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<p id="teste"><a id="enviar_email0" class="group1" href="/static/img/Please_wait1.gif"></a></p>
										<p id="teste"><a id="enviar_email1" class="group1" href="/static/img/final.png"></a></p>
										<input id='enviar_email' type="button" class="btn pull-right" value="Enviar">
									</div>
								</div>
		        			</form>
		        		</div>
		        		<!-- End Contact Info -->
	        		</div>
	        	</div>
	    	</div>
	    </div>

	    <!-- Footer -->
	    {% include 'rodape.html' %}

        <!-- Javascripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="/static/js/jquery.colorbox.js"></script>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="/static/js/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
        <script src="/static/js/jquery.fitvids.js"></script>
        <script src="/static/js/jquery.sequence-min.js"></script>
        <script src="/static/js/jquery.bxslider.js"></script>
        <script src="/static/js/main-menu.js"></script>
        <script src="/static/js/template.js"></script>
        <link href='/static/css/jquery.noty.css' rel='stylesheet'>
		<script src="/static/js/jquery.noty.js"></script>
        <script type="text/javascript">

		$(document).ready(function() {
			$(".group1").colorbox({rel:'group1'});
		    $("#home").removeClass("active").addClass("");
		    $("#contato").removeClass("active").addClass("active");
		    $("#sobre").removeClass("active").addClass("");
		    $("#A").html("");
	    	$("#A").append('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.019004146507!2d-42.7455082!3d-5.100627799999982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e307d3ed8c1cf%3A0x6538571f1851351!2sR.+%C3%81lvaro+Oliveira+Lima%2C+583+-+Parque+Ideal%2C+Teresina+-+PI%2C+64078-760!5e0!3m2!1spt-BR!2sbr!4v1421819558203" width="500" height="400" frameborder="0" style="border:0"></iframe>');
	    });

	    $("#a").click(function(){
	    	$("#A").html("");
	    	$("#A").append('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.019004146507!2d-42.7455082!3d-5.100627799999982!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e307d3ed8c1cf%3A0x6538571f1851351!2sR.+%C3%81lvaro+Oliveira+Lima%2C+583+-+Parque+Ideal%2C+Teresina+-+PI%2C+64078-760!5e0!3m2!1spt-BR!2sbr!4v1421819558203" width="500" height="400" frameborder="0" style="border:0"></iframe>');
	    });


	    $("#b").click(function(){
	    	$("#B").html("");
	    	$("#B").append('<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1986.8832981188482!2d-42.79126100000004!3d-5.1412369999999905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNcKwMDgnMjguNCJTIDQywrA0NycyOC41Ilc!5e0!3m2!1spt-BR!2sbr!4v1421858540024" width="500" height="400" frameborder="0" style="border:0"></iframe>');
	    });


	    $("#enviar_email").click(function(){
	    	$("#enviar_email0").click();
	        $.ajax({
	        	url: "/send_email/",
	            type: "POST",
	            dataType:"json",
	            data: {
	            	'csrfmiddlewaretoken': '{{ csrf_token }}',
	            	'nome': $('#nome').val(),
	            	'assunto' : $('#assunto').val(),
	            	'telefone':$('#telefone').val(),
	            	'mensagem':$("#mensagem").val(), 
	            },
	            success: function(retorno){

	            	console.log(retorno);

	               if (retorno['resposta']){
	               		// alert("Email enviado, em breve entraremos em contato.");
	               		// $("#enviar_email1").attr("href","/static/img/final.png");
	               		$("#enviar_email1").click();
	               		$('#nome').val("");
						$('#assunto').val("");
						$('#telefone').val("");
						$("#mensagem").val("");
						$("#email").val("");

	               }
	               else{
	               		alert("Email não enviado com sucesso.");
	               }
	            }
	        });

	        return false;   
	    }); 
    </script>

    </body>
</html>