<!-- Footer -->
	    <div class="footer">
	    	<div class="container">

		    	<div class="row">
		    		<div class="col-md-12">
			    		<div class="footer-copyright">
			    			<h3>Contatos</h3>	
			    		</div>
			    	</div>
		    		
		    		<div class="col-footer col-md-6 col-xs-6">
		    			
		    			<p class="contact-us-details">
		    				<b>Encarregado: Douglas Braz </b><br>
		    				<b>Email:</b>douglasmb11@hotmail.com</a><br>
	        				<b>Endereço:</b> Rua Alvoro Oliveira lima, 2644 - Parque Ideal- Teresina - PI<br>
	        				<b>Phone:</b> (86) 9818-0156<br/><br>        				
	        			</p>
		    		</div>
		    		<div class="col-footer col-md-6 col-xs-6">
		    			
		    			<p class="contact-us-details">
	        				<b>Encarregado: Anderson Silva</br>
	        				<b>Email:</b>andersonsilva452@hotmail.com</br>
	        				<b>Endereço:</b> Rua Alvoro Oliveira lima, 2644 - Parque Ideal- Teresina - PI<br>
	        				<b>Phone:</b> (86) 8862-9865<br/>	        				
	        				
	        			</p>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<div class="footer-copyright">&copy; 2013 mPurpose. All rights reserved.</div>
		    		</div>
		    	</div>
		    </div>
	    </div>

