<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/login" method="post">
{% csrf_token %}
	{{formLogin.as_p}}
	<input type='submit' value='inviar'>
</form>

</body>
</html></head>